# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# KiBot files
pcb/kibot*.kicad*
pcb/panel
html/
pcb_output_data/kiri
pcb_output_data/reports
pcb_output_data/manufacturing/fabrication/gerbers
pcb_output_data/manufacturing/**/*zip
pcb_output_data/manufacturers

.cache/
.config/
*bak

resources/jlcpcb_partlint/
resources/jlcpcb_toolkit/

